root = true

[*]
indent_style = space
ident_size = 2
end_of_line = lf
chartset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.md]
trim_triling_whitespace = false